.sobre-festival {
  padding: $separacion 0;
  @include tablet {
    @include grid(2, $separacion);
  }
}
.contenido-festival {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  h2 {
    font-size: 3rem;
  }
  .fecha {
    color: $rosa;
    font-size: $bold;
  }
  .texto {
    line-height: 1.5;
  }
}
